<% provide(:title, 'Ночное Рубалово') %>

<%#= image_tag("uVcqM6-hBiM.jpg", alt: "background faled") %>

<!--типа сайз пикч
<div class= "center">
<%#= image_tag("q5W3ruFzuNE.jpg",size: "400x160",alt: "image faled") %>
</div>
-->
	<div class= "content">
	
<p>-</p>


	<p>
	Добро пожаловать на Поля Правосудия жители г. Екатеринбурга и окрестности
В этой группе мы будем оповещать вас о дате прохождения встреч посвященных игре League of Legens в г. Екатеринбург.
</p>
<p>
Пока группа посвящена только сбору людей для совместной фановой игры против друг друга. В дальнейшем возможно развитие.
</p>
<p>
Место и время проведение официальной встречи - Антикафе "СОВУШКИ" с 21:00 до 09:00.
Чтобы узнать о нем подробнее пройдите по данной ссылке: https://vk.com/sovushki_ekb .
Стоимость участия 350 рублей и является строго фиксируемой (Все эти деньги уходят в счет посещения антикафе, себе ничего не утаиваем)) )
</p>
<p>
Принцип проведения игр: Игроки делятся на команды кратные числу 5. Если же количество участников не кратно 5, то некоторым игрокам(по обоюдному согласию) позволяется сыграть за команду в которой не хватает тиммейтов. Карта - Ущелье Призывателей.
Опять же по обоюдному согласию карта и режим могут быть изменены.
</p>
<p>
Во всем остальным вашим вопросам вам с радостью ответят Админы нашей группы.
</p>
<p>
P.S.Добро пожаловать в нашу теплую и гостеприимную компанию! С Уважением, Администрация.
</p>
<p>-</p>
<%#= image_tag("background.jpg",size: "760x440" ,alt: "image faled") %>

</div>


<!--,size: "740x440"    ,class: "content"-->