
<header class="navbar" >
       <div class="navcont">
              <ul id="nav">
              <li><%= link_to "Player statistics", '#' %></li>
              </ul>
              <ul id="nav">
              <li><%= link_to "Media", '#' %></li>
              </ul>
              <ul id="nav">
              <li><%= link_to "About",  about_path %></li>
              </ul>
              <ul id="nav">
              <li><%= link_to "Contact", contact_path %></li> 
              </ul>
       </div> 
                  
</header>